/* Font settings */
@font-face {
  font-family: AndronScriptorWeb;
  src: url('../fonts/AndronScriptorWeb.ttf') format('truetype');
} 
body {
  font-family: Arial, Helvetica, sans-serif;
}
.asw-font {
  font-family: AndronScriptorWeb;
}

/* Line list display settings */
#lineList {
  list-style: none;
  padding: 0;
}
#lineList li {
  margin-bottom: 25px;
}
#lineList img {
  height: 35px;
}
#lineList input {
  font-size: 28px;
  display: block;
  width: 100%;
}
