/* Font settings */
@font-face {
  font-family: AndronScriptorWeb;
  src: url('../fonts/AndronScriptorWeb.ttf') format('truetype');
} 
body {
  font-family: Arial, Helvetica, sans-serif;
}
.asw-font {
  font-family: AndronScriptorWeb;
}

/* General page layout */
#setup {
  margin: 15px;
}
#pathSetting {
  width: 60%;
  display: inline-block;
}
#pathSetting input {
  width: 60%;
}
#gridSetting {
  display: inline-block;
  float: right;
}
#wrapper {
  display: flex;
  overflow: overlay;
  height: calc(100vh - 59px);
  border-top: 5px solid #eee;

}
#content, #settings {
  padding-left: 15px;
  overflow: auto;
}
#settings {
  padding-top: 15px;
  padding-right: 15px;
}

/* Line list display settings */
#lineList {
  list-style: none;
  padding: 0;
}
#lineList li {
  margin-bottom: 25px;
}
#lineList img {
  height: 35px;
}
#lineList span, #lineList input {
  font-size: 28px;
  display: inline-block;
  white-space: nowrap;
}
#lineList span {
  padding-left: 2px;
}
#lineList .lineId {
  font-size: 16px;
  font-style: italic;
}

/* Split bar */
.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url('grips/vertical.png');
  cursor: ew-resize;
}
.gutter.gutter-vertical {
  background-image: url('grips/horizontal.png');
  cursor: ns-resize;
}
.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

/* Virtual keyboard (grid) */
.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #d3d3d3;
  border: 1px solid #808080;
}
.grid-stack .grid-stack-item .grid-stack-item-content,
.grid-stack .grid-stack-item .placeholder-content {
    left: 3px;
    right: 3px;
}
