/* Font settings */
@font-face { font-family: AndronScriptorWeb; src: url('resources/fonts/AndronScriptorWeb.ttf'); } 
body {
  font-family: Arial, Helvetica, sans-serif;
}
.asw-font {
  font-family: AndronScriptorWeb;
}
